<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item user-select-none" [appClass]="{ disabled: currentPage === 0 }">
        <a class="page-link" (click)="onPreviousClick()">Prev</a>
      </li>
      <ng-container *appTimes="images.length; let i = index">
        <li
          class="page-item user-select-none"
          [appClass]="{ active: i === currentPage }"
          *ngIf="checkWindowIndex(i)"
        >
          <a class="page-link" (click)="onClick(i)">{{ i + 1 }}</a>
        </li>
      </ng-container>
      <li
        class="page-item user-select-none"
        [appClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a class="page-link" (click)="onNextClick()">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div>
  <h4>{{ images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url" alt="">
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Page one</div>
  <div *ngSwitchCase="1">Page two</div>
  <div *ngSwitchCase="2">Page three</div>
  <div *ngSwitchDefault>Different page!</div>
</div> -->
